/***************************
  Jet-Antd Library
***************************/
@import '../../lib/jet-antd/lib/jet-antd.less';

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.component {
  width: calc(100% - (@spacing-sm * 2));
  margin: 40px 0;
  flex-wrap: wrap;
  padding: @spacing-sm;
  div {
    flex-wrap: wrap;
  }
  &-title {
    margin: 0 0 @spacing-xl 0 !important;
  }
}
.code-block {
  width: 100%;
  max-width: 525px;
  padding-left: 20px;
  background: black;
  &.full-width {
    max-width: 100%;
  }
  * {
    font-size: 12px !important;
  }

  .sc-gsnTZi {
    background: transparent;

    span {
      opacity: 1 !important;
      background: inherit !important;
    }
    .token {
      color: white;
    }
    .punctuation {
      color: rgb(216, 132, 157);
    }
  }
  button {
    display: none;
  }
}

.components-nav {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: @spacing-sm;
  border-radius: @border-radius;
  box-shadow: @drop-shadow;
  border: 2px solid white;
  background: black;
  z-index: 10000;
  div {
    flex-wrap: wrap;
  }

  span {
    margin: @spacing-xs;
    font-size: @xs-font-size;
    color: white;
  }
}

.variable {
  margin: @spacing-sm 0;

  .color-block {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
  .neu-block {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    box-shadow: @neu-shadow;

    &-low {
      box-shadow: @neu-shadow-low;
    }
    &-inset {
      box-shadow: @neu-shadow-inset;
    }
    &-inset-low {
      box-shadow: @neu-shadow-inset-low;
    }
    &-inset-gradient {
      background: @gradient;
      box-shadow: @neu-shadow-inset-gradient;
    }
    &-inset-gradient-low {
      background: @gradient;
      box-shadow: @neu-shadow-inset-gradient-low;
    }
    &-inset-success {
      background: @success;
      box-shadow: @neu-shadow-inset-success;
    }
    &-inset-failure {
      background: @failure;
      box-shadow: @neu-shadow-inset-failure;
    }
  }
  .spacing-block {
    height: 25px;
    width: @spacing-xs;
    margin-left: 20px;
    border-bottom: 1px dashed @black;

    &-sm {
      width: @spacing-sm;
    }
    &-md {
      width: @spacing-md;
    }
    &-lg {
      width: @spacing-lg;
    }
    &-xl {
      width: @spacing-xl;
    }
  }
}