/***************************
  Jet-Antd Library
***************************/
@import '../../lib/jet-antd/lib/jet-antd.less';

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.component {
  width: calc(100% - (@spacing-sm * 2));
  margin: 40px 0;
  flex-wrap: wrap;
  padding: @spacing-sm;
  div {
    flex-wrap: wrap;
  }
  h1, h2 {
    margin: unset;
  }

  &-title {
    margin: 0 0 @spacing-xl 0 !important;
  }
}
.code-block {
  width: 100%;
  max-width: 525px;
  padding-left: 20px;
  background: black;
  * {
    font-size: 12px !important;
  }

  .sc-gsnTZi {
    background: transparent;

    span {
      opacity: 1 !important;
      background: inherit !important;
    }
    .token {
      color: white;
    }
    .punctuation {
      color: rgb(216, 132, 157);
    }
  }
  button {
    display: none;
  }
}